.wrapper {
    background-color: lightgrey;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 65%;
    width: 50%;
    overflow-x: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
}



.student-container {
    width: 100%;
    height: 100%;
    background-color: white;
    border-bottom: 1px solid lightgray;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
}

.column1 {
    width: 20%;
    float:left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 25px;
    
}

.column2 {
    width: 80%;
    float: right;
}
.profile-img {
    border-radius: 70px;
    width: 100px;
    height: 100px;
    border: 1px solid lightgray;
   
}

.student-details {
    color: gray;
    padding: 5px;
    position: relative;
    bottom: 10px;
}

.details {
    padding-bottom: 5px;
}
